{% extends 'index.html' %}

{% block content %}
<div class="container sm">
  <div class="row py-4 justify-content-center">
    <h1 class="text-center">Artikkel</h1>
    <div style="max-height: 60vh; max-width: 60vh; overflow-y: scroll;" class="col">
      <p>{{ article }}</p>
    </div>
  </div>
  <div class="row py-4">
    <div class="col">
      <h2>Oppsummering 1: {{ summary_1["type"] }}</h2>
      <p>{{ summary_1['summary'] }}</p>
    </div>
    <div class="col">
      <h2>Oppsummering 2: {{ summary_2["type"] }}</h2>
      <p>{{ summary_2['summary'] }}</p>
    </div>
  </div>
    <form action="{{ url_for('select') }}" method="post" class="row">
      <input type="hidden" name="article_id" value="{{ article_id }}">
      <input type="hidden" name="summary1" value="{{ summary_1['id'] }} {{summary_1['type']}}">
      <input type="hidden" name="summary2" value="{{ summary_2['id'] }} {{summary_2['type']}}">
      <div class="col">
        <div class="form-check">
          <input type="radio" id="summary1" name="preferred_type" value="{{summary_1['type']}}" class="form-check-input"required>
          <label for="summary1" class="form-check-label">Velg oppsummering 1</label>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <input type="radio" id="summary2" name="preferred_type" value="{{ summary_2['type']}}" class="form-check-input traslate-middle" required>
          <label for="summary2" class="form-check-label">Velg oppsummering 2</label>
        </div>
      </div>
      <input type="submit" name="" value="Neste" class="form-submit my-4 btn btn-primary" >
    </form>

    <form action="{{ url_for('terminate') }}" method="post" class="row mb-4">
      <input type="submit" name="" value="Avslutt" class="btn btn-danger">
    </form>
</div>

{% endblock %}
